<IfModule mod_rewrite.c>
SetEnvIf Host .*thecollectorstoystore.* MAGE_RUN_CODE=thecollectorstoystore

SetEnvIf Host .*thecollectorstoystore.* MAGE_RUN_TYPE=website or store

- See more at: https://docs.nexcess.net/article/how-to-configure-multiple-magento-storefronts.html#sthash.Tb1l9rCT.dpuf
RewriteEngine On
RewriteBase /

RewriteRule ^api/([a-z][0-9a-z_]+)/?$ api.php?type=$1 [QSA,L]
RewriteRule ^api/rest api.php?type=rest [QSA,L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
RewriteRule .* - [L,R=405]

RewriteCond %{REQUEST_URI} !^/(media|skin|js)/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule .* index.php [L]
</IfModule>