<?xml version="1.0"?>
<config>
    <modules>
        <Korifi_Salenotice>
            <version>0.1.0</version>
        </Korifi_Salenotice>
    </modules>
    <admin>
        <routers>
            <salenotice_admin>
                <use>admin</use>
                <args>
                    <module>Korifi_Salenotice</module>
                    <frontName>admin_salenotice</frontName>
                </args>
            </salenotice_admin>
        </routers>
    </admin>


    <global>
        <helpers>
            <salenotice>
                <class>Korifi_Salenotice_Helper</class>
            </salenotice>
        </helpers>
        <blocks>
            <salenotice>
                <class>Korifi_Salenotice_Block</class>
            </salenotice>
        </blocks>
        <models>
            <salenotice>
                <class>Korifi_Salenotice_Model</class>
                <resourceModel>salenotice_mysql4</resourceModel>
            </salenotice>
            <salenotice_mysql4>
                <class>Korifi_Salenotice_Model_Mysql4</class>
                <entities>
                    <solditem>
                        <table>korifi_salenotice_item</table>
                    </solditem>
                    <solditem_store>
                        <table>korifi_salenotice_item_store</table>
                    </solditem_store>
                </entities>
            </salenotice_mysql4>
        </models>
        <resources>
            <salenotice_setup>
                <setup>
                    <module>Korifi_Salenotice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salenotice_setup>
            <salenotice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salenotice_write>
            <salenotice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salenotice_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <salenotice module="Korifi_Salenotice">
                    <file>korifi_salenotice.xml</file>
                </salenotice>
            </updates>
        </layout>
        <translate>
            <modules>
                <Korifi_Salenotice>
                    <files>
                        <default>Korifi_Salenotice.csv</default>
                    </files>
                </Korifi_Salenotice>
            </modules>
        </translate>
    </frontend>

    <default>
        <salenotice>
            <settings>
                <data_using>0</data_using>
                <limit_last_order>5</limit_last_order>
                <first_load>5000</first_load>
                <time_delay>15000</time_delay>
                <time_display>5000</time_display>
            </settings>
            <inclusion>
                <jquery>0</jquery>
                <noconflict>0</noconflict>
            </inclusion>
        </salenotice>
    </default>
</config>