<?xml version="1.0"?>
<!--
/**
 * @category   Apptrian
 * @package    Apptrian_SocialIntegrator
 * @author     Apptrian
 * @copyright  Copyright (c) 2015 Apptrian (http://www.apptrian.com)
 * @license    http://www.apptrian.com/license    Proprietary Software License (EULA)
 */
-->
<config>
    <modules>
        <Apptrian_SocialIntegrator>
            <version>1.4.1</version>
        </Apptrian_SocialIntegrator>
    </modules>
    <global>
        <helpers>
            <apptrian_socialintegrator>
                <class>Apptrian_SocialIntegrator_Helper</class>
            </apptrian_socialintegrator>
        </helpers>
		<models>		
			<apptrian_socialintegrator>
				<class>Apptrian_SocialIntegrator_Model</class>
			</apptrian_socialintegrator>  		
		</models>
		<blocks>
			<apptrian_socialintegrator>
				<class>Apptrian_SocialIntegrator_Block</class>
			</apptrian_socialintegrator>
		</blocks>
        <resources>
            <apptrian_socialintegrator_setup>
                <setup>
                    <module>Apptrian_SocialIntegrator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apptrian_socialintegrator_setup>
        </resources>
    </global>
	<default>
        <apptrian_socialintegrator>
            <general>
                <enabled>1</enabled>
				<include_fbjssdk>1</include_fbjssdk>
				<include_platformjs>1</include_platformjs>
				<include_injs>1</include_injs>
				<include_pinitjs>1</include_pinitjs>
				<include_widgetsjs>1</include_widgetsjs>
				<addthis_id></addthis_id>
				<addthis_sidebar_enabled>1</addthis_sidebar_enabled>
            </general>
            <open_graph>
                <enabled>1</enabled>
                <pages>product,category,cms</pages>
                <facebook_admins></facebook_admins>
                <facebook_app_id></facebook_app_id>
                <facebook_profile_id></facebook_profile_id>
                <category_image>image</category_image>
            </open_graph>
            <pinterest_rich_pins>
                <enabled>1</enabled>
            </pinterest_rich_pins>
            <schema_org>
                <enabled>1</enabled>
                <pages>product,category,cms</pages>
                <author_url></author_url>
                <publisher_url></publisher_url>
                <meta_tags_enabled>1</meta_tags_enabled>
                <category_image>image</category_image>
            </schema_org>
            <twitter_cards>
                <enabled>1</enabled>
                <pages>product,category,cms</pages>
                <site_username>@site_username</site_username>
                <creator_username>@creator_name</creator_username>
                <domain></domain>
                <secondary_data>website</secondary_data>
                <category_card_type>summary</category_card_type>
                <category_image>image</category_image>
                <mobile_apps_enabled>0</mobile_apps_enabled>
                <app_id_googleplay></app_id_googleplay>
                <app_name_googleplay></app_name_googleplay>
                <app_url_googleplay></app_url_googleplay>
                <app_id_ipad></app_id_ipad>
                <app_name_ipad></app_name_ipad>
                <app_url_ipad></app_url_ipad>
                <app_id_iphone></app_id_iphone>
                <app_name_iphone></app_name_iphone>
                <app_url_iphone></app_url_iphone>
            </twitter_cards>
            <product_buttons>
                <enabled>1</enabled>
                <layout>product-social-buttons-horizontal-layout</layout>
                <parent>alert_urls</parent>
                <position>after</position>
                <button_sort_order>1,2,3,4,5</button_sort_order>
                <addthis_enabled>0</addthis_enabled>
                <addthis_class>addthis_sharing_toolbox</addthis_class>
                <addthis_custom>0</addthis_custom>
                <addthis_show_both>0</addthis_show_both>
                <facebook_enabled>1</facebook_enabled>
                <facebook_data_action>like</facebook_data_action>
                <facebook_data_colorscheme>light</facebook_data_colorscheme>
                <facebook_data_kid_directed_site>false</facebook_data_kid_directed_site>
                <facebook_data_layout>button</facebook_data_layout>
                <facebook_data_share>true</facebook_data_share>
                <facebook_data_show_faces>true</facebook_data_show_faces>
                <facebook_data_width></facebook_data_width>
                <google_enabled>1</google_enabled>
                <google_data_size>medium</google_data_size>
                <google_data_annotation>none</google_data_annotation>
                <google_data_width></google_data_width>
                <google_data_align>left</google_data_align>
                <google_data_recommendations>true</google_data_recommendations>
                <linkedin_enabled>1</linkedin_enabled>
                <linkedin_data_counter>disabled</linkedin_data_counter>
                <linkedin_data_showzero>true</linkedin_data_showzero>
                <pinterest_enabled>1</pinterest_enabled>
                <pinterest_hover_button>product_pages</pinterest_hover_button>
                <pinterest_size>small</pinterest_size>
                <pinterest_data_pin_shape>rectangle</pinterest_data_pin_shape>
                <pinterest_data_pin_color>gray</pinterest_data_pin_color>
                <pinterest_data_pin_config>none</pinterest_data_pin_config>
                <twitter_enabled>1</twitter_enabled>
                <twitter_data_count>none</twitter_data_count>
                <twitter_data_size>medium</twitter_data_size>
            </product_buttons>
            <category_buttons>
                <enabled>1</enabled>
                <layout>category-social-buttons-horizontal-layout</layout>
                <parent>content</parent>
                <position>after</position>
                <button_sort_order>1,2,3,4,5</button_sort_order>
                <addthis_enabled>0</addthis_enabled>
                <addthis_class>addthis_sharing_toolbox</addthis_class>
                <addthis_custom>0</addthis_custom>
                <addthis_show_both>0</addthis_show_both>
                <facebook_enabled>1</facebook_enabled>
                <facebook_data_action>like</facebook_data_action>
                <facebook_data_colorscheme>light</facebook_data_colorscheme>
                <facebook_data_kid_directed_site>false</facebook_data_kid_directed_site>
                <facebook_data_layout>box_count</facebook_data_layout>
                <facebook_data_share>false</facebook_data_share>
                <facebook_data_show_faces>true</facebook_data_show_faces>
                <facebook_data_width></facebook_data_width>
                <google_enabled>1</google_enabled>
                <google_data_size>tall</google_data_size>
                <google_data_annotation>bubble</google_data_annotation>
                <google_data_width></google_data_width>
                <google_data_align>left</google_data_align>
                <google_data_recommendations>true</google_data_recommendations>
                <linkedin_enabled>1</linkedin_enabled>
                <linkedin_data_counter>top</linkedin_data_counter>
                <linkedin_data_showzero>true</linkedin_data_showzero>
                <pinterest_enabled>1</pinterest_enabled>
                <pinterest_size>small</pinterest_size>
                <pinterest_data_pin_shape>rectangle</pinterest_data_pin_shape>
                <pinterest_data_pin_color>gray</pinterest_data_pin_color>
                <pinterest_data_pin_config>above</pinterest_data_pin_config>
                <category_image>thumbnail</category_image>
                <twitter_enabled>1</twitter_enabled>
                <twitter_data_count>vertical</twitter_data_count>
                <twitter_data_size>medium</twitter_data_size>
            </category_buttons>
            <cms_buttons>
                <enabled>1</enabled>
                <layout>cms-social-buttons-horizontal-layout</layout>
                <parent>content</parent>
                <position>before</position>
                <button_sort_order>1,2,3,4,5</button_sort_order>
                <addthis_enabled>0</addthis_enabled>
                <addthis_class>addthis_sharing_toolbox</addthis_class>
                <addthis_custom>0</addthis_custom>
                <addthis_show_both>0</addthis_show_both>
                <facebook_enabled>1</facebook_enabled>
                <facebook_data_action>like</facebook_data_action>
                <facebook_data_colorscheme>light</facebook_data_colorscheme>
                <facebook_data_kid_directed_site>false</facebook_data_kid_directed_site>
                <facebook_data_layout>button</facebook_data_layout>
                <facebook_data_share>true</facebook_data_share>
                <facebook_data_show_faces>true</facebook_data_show_faces>
                <facebook_data_width></facebook_data_width>
                <google_enabled>1</google_enabled>
                <google_data_size>medium</google_data_size>
                <google_data_annotation>none</google_data_annotation>
                <google_data_width></google_data_width>
                <google_data_align>left</google_data_align>
                <google_data_recommendations>true</google_data_recommendations>
                <linkedin_enabled>1</linkedin_enabled>
                <linkedin_data_counter>disabled</linkedin_data_counter>
                <linkedin_data_showzero>true</linkedin_data_showzero>
                <pinterest_enabled>1</pinterest_enabled>
                <pinterest_size>small</pinterest_size>
                <pinterest_data_pin_shape>rectangle</pinterest_data_pin_shape>
                <pinterest_data_pin_color>gray</pinterest_data_pin_color>
                <pinterest_data_pin_config>none</pinterest_data_pin_config>
                <twitter_enabled>1</twitter_enabled>
                <twitter_data_count>none</twitter_data_count>
                <twitter_data_size>medium</twitter_data_size>
            </cms_buttons>
            <primary_icons>
                <enabled>1</enabled>
                <layout>primary-social-icons-horizontal-layout</layout>
                <parent>top_container</parent>
                <position>after</position>
                <height></height>
                <width></width>
                <icon_sort_order>1,2,3,4,5</icon_sort_order>
                <addthis_enabled>0</addthis_enabled>
                <addthis_class>addthis_horizontal_follow_toolbox</addthis_class>
                <facebook_enabled>1</facebook_enabled>
                <facebook_url>#</facebook_url>
                <facebook_alt>Follow us on Facebook</facebook_alt>
                <google_enabled>1</google_enabled>
                <google_url>#</google_url>
                <google_alt>Follow us on Google Plus</google_alt>
                <linkedin_enabled>1</linkedin_enabled>
                <linkedin_url>#</linkedin_url>
                <linkedin_alt>Follow us on Linkedin</linkedin_alt>
                <pinterest_enabled>1</pinterest_enabled>
                <pinterest_url>#</pinterest_url>
                <pinterest_alt>Follow us on Pinterest</pinterest_alt>
                <twitter_enabled>1</twitter_enabled>
                <twitter_url>#</twitter_url>
                <twitter_alt>Follow us on Twitter</twitter_alt>
            </primary_icons>
            <secondary_icons>
                <enabled>1</enabled>
                <layout>secondary-social-icons-horizontal-layout</layout>
                <parent>bottom_container</parent>
                <position>after</position>
                <height></height>
                <width></width>
                <icon_sort_order>1,2,3,4,5</icon_sort_order>
                <addthis_enabled>0</addthis_enabled>
                <addthis_class>addthis_horizontal_follow_toolbox</addthis_class>
                <facebook_enabled>1</facebook_enabled>
                <facebook_url>#</facebook_url>
                <facebook_alt>Follow us on Facebook</facebook_alt>
                <google_enabled>1</google_enabled>
                <google_url>#</google_url>
                <google_alt>Follow us on Google Plus</google_alt>
                <linkedin_enabled>1</linkedin_enabled>
                <linkedin_url>#</linkedin_url>
                <linkedin_alt>Follow us on Linkedin</linkedin_alt>
                <pinterest_enabled>1</pinterest_enabled>
                <pinterest_url>#</pinterest_url>
                <pinterest_alt>Follow us on Pinterest</pinterest_alt>
                <twitter_enabled>1</twitter_enabled>
                <twitter_url>#</twitter_url>
                <twitter_alt>Follow us on Twitter</twitter_alt>
            </secondary_icons>
        </apptrian_socialintegrator>
    </default>
    <frontend>
        <layout>
            <updates>
                <apptrian_socialintegrator>
                    <file>apptrian_socialintegrator.xml</file>
                </apptrian_socialintegrator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Apptrian_SocialIntegrator>
                    <files>
                        <default>Apptrian_SocialIntegrator.csv</default>
                    </files>
                </Apptrian_SocialIntegrator>
            </modules>
        </translate>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <apptrian_socialintegrator_controller_action_layout_load_before>
                        <class>apptrian_socialintegrator/observer</class>
                        <method>addCustomHandles</method>
                    </apptrian_socialintegrator_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <apptrian_socialintegrator_core_block_abstract_to_html_after>
                        <class>apptrian_socialintegrator/observer</class>
                        <method>addHeadTagPrefix</method>
                    </apptrian_socialintegrator_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <apptrian_info>
                                            <title>Info</title>
                                        </apptrian_info>
                                        <apptrian_socialintegrator>
                                            <title>Social Integrator</title>
                                        </apptrian_socialintegrator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Apptrian_SocialIntegrator>
                    <files>
                        <default>Apptrian_SocialIntegrator.csv</default>
                    </files>
                </Apptrian_SocialIntegrator>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <apptrian_socialintegrator_check>
                <schedule>
                   <cron_expr>22 2 */10 * *</cron_expr>
                </schedule>
                <run>
                   <model>apptrian_socialintegrator/cron::check</model>
                </run>
            </apptrian_socialintegrator_check>
        </jobs>
    </crontab>
</config>