<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MeasuredSearch_InstantSearch>
            <version>0.1.0</version>
        </MeasuredSearch_InstantSearch>
    </modules>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <instantsearch_section translate="title">
                                            <title>InstantSearch</title>
                                            <sort_order>96</sort_order>
                                        </instantsearch_section>
                                        <instantsearch_sync_section translate="title">
                                            <title>Sync</title>
                                            <sort_order>98</sort_order>
                                        </instantsearch_sync_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                     </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <measuredsearch_instantsearch before="Mage_Adminhtml">MeasuredSearch_InstantSearch_Adminhtml</measuredsearch_instantsearch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <measuredsearch_instantsearch>
                <class>MeasuredSearch_InstantSearch_Model</class>
            </measuredsearch_instantsearch>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>MeasuredSearch_InstantSearch_Model_CatalogSearch_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <helpers>
            <measuredsearch_instantsearch>
                <class>MeasuredSearch_InstantSearch_Helper</class>
            </measuredsearch_instantsearch>
        </helpers>
        <blocks>
            <measuredsearch_instantsearch>
                <class>MeasuredSearch_InstantSearch_Block</class>
            </measuredsearch_instantsearch>
            <page>
                <rewrite>
                    <html_head>MeasuredSearch_InstantSearch_Block_Html_Head</html_head>
                </rewrite>
            </page>
            <catalogsearch>
                <rewrite>
                    <autocomplete>MeasuredSearch_InstantSearch_Block_Autocomplete</autocomplete>
                </rewrite>
            </catalogsearch>
        </blocks>
        <events>
            <catalog_product_save_after>
                <observers>
                    <measuredsearch_instantsearch>
                        <type>singleton</type>
                        <class>measuredsearch_instantsearch/observer</class>
                        <method>catalog_product_save_after</method>
                    </measuredsearch_instantsearch>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after_done>
                <observers>
                    <measuredsearch_instantsearch>
                        <class>measuredsearch_instantsearch/observer</class>
                        <method>processProductAfterDeleteEvent</method>
                    </measuredsearch_instantsearch>
                </observers>
            </catalog_product_delete_after_done>
        </events>
    </global>
    <default>
        <instantsearch_section>
            <configuration_group>
                <measuredsearch_service_field>1</measuredsearch_service_field>
            </configuration_group>
        </instantsearch_section>
    </default>
    <frontend>
        <layout>
            <updates>
                <measuredsearch_instantsearch>
                    <file>measuredsearch_external.xml</file>
                </measuredsearch_instantsearch>
            </updates>
        </layout>
		<events>
            <checkout_cart_add_product_complete>
                <observers>
                    <measuredsearch_instantsearch>
                        <class>measuredsearch_instantsearch/observer</class>
                        <method>afterAddToCart</method>
                    </measuredsearch_instantsearch>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
</config>
