<?xml version="1.0"?>
<config>
    <modules>
        <Avilastores_ProductUpdates>
            <version>0.1.0</version>
        </Avilastores_ProductUpdates>
    </modules>
    <frontend>
        <routers>
            <productupdates>
                <use>standard</use>
                <args>
                    <module>Avilastores_ProductUpdates</module>
                    <frontName>productupdates</frontName>
                </args>
            </productupdates>
        </routers>
        <layout>
            <updates>
                <productupdates>
                    <file>productupdates.xml</file>
                </productupdates>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<productupdates>
				<use>admin</use>
				<args>
					<module>Avilastores_ProductUpdates</module>
					<frontName>productupdates</frontName>
				</args>
			</productupdates>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<productupdates module="productupdates">
				<title>ProductUpdates</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="productupdates">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>productupdates/adminhtml_productupdates</action>
					</items>
				</children>
			</productupdates>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Avilastores_ProductUpdates>
							<title>ProductUpdates Module</title>
							<sort_order>10</sort_order>
						</Avilastores_ProductUpdates>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productupdates>
					<file>productupdates.xml</file>
				</productupdates>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <productupdates>
                <class>Avilastores_ProductUpdates_Model</class>
                <resourceModel>productupdates_mysql4</resourceModel>
            </productupdates>
            <productupdates_mysql4>
                <class>Avilastores_ProductUpdates_Model_Mysql4</class>
                <entities>
                    <productupdates>
                        <table>productupdates</table>
                    </productupdates>
                </entities>
            </productupdates_mysql4>
        </models>
        <resources>
            <productupdates_setup>
                <setup>
                    <module>Avilastores_ProductUpdates</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productupdates_setup>
            <productupdates_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productupdates_write>
            <productupdates_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productupdates_read>
        </resources>
        <blocks>
            <productupdates>
                <class>Avilastores_ProductUpdates_Block</class>
            </productupdates>
        </blocks>
        <helpers>
            <productupdates>
                <class>Avilastores_ProductUpdates_Helper</class>
            </productupdates>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <catalogupdate_fetch_all>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>catalogupdate/observer::dailyCatalogUpdate</model>
                </run>
            </catalogupdate_fetch_all>
        </jobs>
    </crontab>
</config>